.header {
    background-color: #E8F3F1;
    padding: 30px;
    width: 100%;
    height: 100%;
     ;
  }
  
  .breadcrumbs {
    font-size: 14px;
    color: #000000;
    margin-right: 100%;
  }

  .h1 {
    color: #000000;
  }

  .i{
    color: #000000;
  }
  