.header {
    background-color: #a0d0c7;
    padding: 8px;
    position:relative;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	left:0; right:0; top:0;
  min-width :100%;
     ;
  }
  
  .breadcrumbs {
    font-size: 14px;
    color: #000000;
    margin-right: 100%;
  }

  .h1 {
    color: #000000;
  }

  .i{
    color: #000000;
  }
  